<footer class="footer">
        <div class="container-fluid container-slider">
            <div class="row">
                <div class="navf col-lg-9">
                    <div class="mb-5">
                        <ul class="nav menu mod-list">
                          <li class="item-188" style="opacity: 1; transform: translate(0px, 0px);"><a routerLink="/about">About</a></li>
                          <li class="item-183" style="opacity: 1; transform: translate(0px, 0px);"><a routerLink="/projects">Projects</a></li>
                          <li class="item-184" style="opacity: 1; transform: translate(0px, 0px);"><a routerLink="/services">Services</a></li>
                          <li class="item-185" style="opacity: 1; transform: translate(0px, 0px);"><a routerLink="/news">News</a></li>
                          <li class="item-220" style="opacity: 1; transform: translate(0px, 0px);"><a routerLink="/stories">Stories</a></li>
                          <li class="item-187" style="opacity: 1; transform: translate(0px, 0px);"><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="mb-1 clearfix">
                        <div class="mb-3 anim" style="float: left; opacity: 1; transform: translate(0px, 0px);">
                            <div class="copyright">
                              <div class="copyright-company">
                                © 2023 AURALAB. All Rights Reserved.</div>
                              <div class="clr"></div>
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                  <div class="second-content">
                      <div class="logo ">
                        <h4>AURALAB</h4>
                      </div>
                      <div class="soc-media mb-1">
                        <ul class="socmedia-list soc-media-ul">
                          <li class="" style=""><a href=""><i class="bi bi-facebook"></i></a></li>
                          <li class="" style=""><a href=""><i class="bi bi-youtube"></i></a></li>
                          <li class="" style=""><a href=""><i class="bi bi-instagram"></i></a></li>
                          <li class="" style=""><a href=""><i class="bi bi-linkedin"></i></a></li>
                          <li class="" style=""><a href=""><i class="bi bi-pinterest"></i></a></li>
                          <li class="" style=""><a href=""><i class="bi bi-twitter-x"></i></a></li>
                        </ul>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </footer>